<div>
      <div class="row-fluid">
        <div class="control-group job-detail"
             data-toggle="tooltip"
             data-title="Container image"
             data-html="true"
             data-placement="bottom">
          <div class="detail">Fetch Files</div>
          <div><ul class="container-parameter-list unstyled"></ul></div>
          <span class="help-inline hide"></span>
        </div>
      </div>
<div>